/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
/ftplogs
/public/ueditor/php/upload/
/public/public/
/public/img/banners/
/public/img/guides/
/public/img/notes/
/public/img/activities/
/public/wxpaysdk/
/resources/cert/