.isStuck {
  left: 0;
  width: 100%; }

.margin0 {
  margin: 0; }

.pad0 {
  padding: 0; }

.bg-white {
  background: white; }

a.link-orange, a.link-orange:visited {
  color: #ff980a; }

a.link-red, a.link-red:visited {
  color: #e00; }

a.link-main, a.link-main:visited {
  color: #00a7cf; }

a.link-main:hover {
  color: #ff980a; }

.fit {
  width: 100%; }

.round {
  border-radius: 50%; }

img.full-width {
  width: 100%; }

.bg-gray {
  background: #ddd; }

.bg-silver {
  background: #f2f2f2; }

.text-main {
  color: #00a7cf; }

.text-orange {
  color: #ff980a; }

.text-red {
  color: #e00; }

.text-gray {
  color: #ddd; }

.text-sm {
  font-size: 12px; }

.text-md {
  font-size: 14px; }

.text-lg {
  font-size: 18px; }

.thumb-image img,
.thumb-image {
  width: 100%; }

.thumb-lg {
  width: 128px;
  height: 128px; }

.thumb-sm {
  width: 64px;
  height: 64px; }

.thumb-round {
  border-radius: 50%; }

.thumb-xs {
  width: 48px;
  height: 48px; }

.thumb-xxs {
  width: 32px;
  height: 32px; }

.inblock {
  display: inline-block; }

.modal-header {
  background: #f2f2f2; }

.bounce-transition {
  display: block;
  opacity: 1;
  transition: all 0.3s ease; }
  .bounce-transition.modal-backdrop {
    opacity: .4; }
  .bounce-transition .modal-dialog {
    -webkit-animation: bounce-in 0.3s;
    animation: bounce-in 0.3s; }

.bounce-enter, .bounce-leave {
  opacity: 0; }

.bounce-leave .modal-dialog {
  -webkit-animation: bounce-out 0.3s;
  animation: bounce-out 0.3s; }

.bounce-enter.modal-backdrop,
.bounce-leave.modal-backdrop {
  display: none; }

@-webkit-keyframes bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes bounce-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; } }

@keyframes bounce-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; } }

.app-title {
  margin: 0 0 15px 0;
  font-size: 22px;
  height: 45px;
  line-height: 45px;
  padding: 0 0 0 15px;
  border-bottom: 1px solid #eee; }

button.btn-alpha {
  background: none; }

.show {
  display: block; }

#productsModal .media {
  border: 3px solid #FFF;
  padding: 5px; }

#productsModal .media:hover {
  cursor: pointer;
  background: #f2f2f2; }

#productsModal .media.active {
  border: 3px solid #ff980a; }

/*# sourceMappingURL=app.css.map */