@charset "UTF-8";
.isStuck {
  left: 0;
  width: 100%; }

.margin0 {
  margin: 0; }

.pad0 {
  padding: 0; }

.bg-white {
  background: white; }

a.link-orange, a.link-orange:visited {
  color: #ff980a; }

a.link-red, a.link-red:visited {
  color: #e00; }

a.link-main, a.link-main:visited {
  color: #00a7cf; }

a.link-main:hover {
  color: #ff980a; }

.fit {
  width: 100%; }

.round {
  border-radius: 50%; }

img.full-width {
  width: 100%; }

.bg-gray {
  background: #ddd; }

.bg-silver {
  background: #f2f2f2; }

.text-main {
  color: #00a7cf; }

.text-orange {
  color: #ff980a; }

.text-red {
  color: #e00; }

.text-gray {
  color: #ddd; }

.text-sm {
  font-size: 12px; }

.text-md {
  font-size: 14px; }

.text-lg {
  font-size: 18px; }

.text-xl {
  font-size: 26px; }

.text-xxl {
  font-size: 32px; }

.thumb-image img,
.thumb-image {
  width: 100%; }

.thumb-lg {
  width: 128px;
  height: 128px; }

.thumb-sm {
  width: 64px;
  height: 64px; }

.thumb-round {
  border-radius: 50%; }

.thumb-xs {
  width: 48px;
  height: 48px; }

.thumb-xxs {
  width: 32px;
  height: 32px; }

.well-empty {
  padding: 100px 50px;
  font-size: 18px;
  background: #f5f5f5; }

body {
  font-family: 'Avenir Next','Helvetica Neue',Avenir,Helvetica,'Lantinghei SC','Hiragino Sans GB','Microsoft YaHei',sans-serif !important; }

.text-right {
  text-align: right; }

.bg-green {
  background: #B0DAB9;
  /* Chrome 10+, Saf5.1+ */
  /* FF3.6+ */
  /* IE10 */
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%);
  /* W3C */ }

.text-orange {
  color: #ff980a; }

.calendar {
  width: 80px;
  height: 80px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  overflow: hidden;
  text-align: center; }
  .calendar .calendar-head {
    height: 18px;
    background: #e8004c; }
  .calendar .calendar-label {
    color: #999;
    font-size: 12px;
    font-weight: normal; }
  .calendar .calendar-content {
    padding-top: 5px;
    font-size: 26px;
    font-weight: bold; }

.calendar-sm {
  width: 60px;
  height: 60px; }
  .calendar-sm .calendar-head {
    height: 10px;
    background: #e8004c; }
  .calendar-sm .calendar-content {
    padding-top: 2px;
    font-size: 18px;
    font-weight: bold; }

.calendar-xs {
  width: 45px;
  height: 45px;
  border-radius: 6px; }
  .calendar-xs .calendar-head {
    height: 8px; }
  .calendar-xs .calendar-content {
    padding-top: 2px;
    font-size: 14px;
    font-weight: bold; }

.error {
  font-size: 12px;
  font-weight: normal;
  color: red; }

.circle-item {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: #00a7cf;
  color: #fff;
  line-height: 80px;
  text-align: center; }

.comments .avatar {
  width: 64px;
  height: 64px; }

dl.list {
  margin: 0 0 8px 0;
  padding: 0;
  display: table;
  *zoom: 1; }
  dl.list:after {
    clear: both; }
  dl.list dt, dl.list dd {
    float: left;
    padding: 5px; }
  dl.list .list-content {
    display: table;
    *zoom: 1;
    margin: 0; }
  dl.list dt {
    width: 80px;
    text-align: right;
    font-weight: bold; }
  dl.list a {
    color: #666;
    padding: 0 8px;
    display: block;
    white-space: nowrap; }
  dl.list a:hover {
    color: #000;
    text-decoration: none;
    background: #f2f2f2; }
  dl.list dd.select a, dl.list dd.active a {
    background: #0088cc;
    color: #fff;
    border-radius: 3px; }

dl.list-condense {
  margin: 0 0 10px 0;
  padding: 2px 0; }

dl.list-mini dt, dl.list-mini dd {
  padding: 0; }

dl.list-condense dd,
dl.list-mini dd {
  padding: 0 2px; }

dl.list-mini dd {
  margin-left: 3px; }

dl.list-mini dt {
  width: 30px; }

dl.list-condense a, dl.list-mini a {
  padding: 0 3px; }

.adv img {
  width: 100%; }

.col-thumb {
  padding-left: 8px;
  padding-right: 8px; }
  .col-thumb:first-child {
    padding-left: 15px; }
  .col-thumb:last-child {
    padding-right: 15px; }

.navbar-main {
  background: #fff;
  font-size: 16px;
  margin-bottom: 0; }
  .navbar-main .navbar-brand {
    padding: 0 20px; }
  .navbar-main .logo {
    height: 44px;
    width: 140px;
    background: url("../img/logo.png") no-repeat center 3px; }
  .navbar-main .navbar-nav > li > a {
    color: #000; }
  .navbar-main .navbar-nav > li.active > a,
  .navbar-main .navbar-nav > li.active > a:hover {
    color: #fff;
    background: #00a7cf; }
  .navbar-main .navbar-nav > li > a:hover {
    color: #00a7cf; }
  .navbar-main .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: none; }
  .navbar-main #query {
    font-size: 12px;
    border-color: #00a7cf;
    border-right: none; }
  .navbar-main #btnSearch {
    background: none;
    border-color: #00a7cf;
    border-left: none;
    color: #00a7cf; }
    .navbar-main #btnSearch:focus {
      outline: none; }
  .navbar-main .navbar-link {
    font-size: 14px;
    color: #00a7cf; }
    .navbar-main .navbar-link:hover {
      color: #00a7cf; }
  .navbar-main .navbar-text {
    margin: 15px 0 0 0; }
  .navbar-main #navbarSearch {
    margin-right: 0; }
  .navbar-main .navbar-user {
    color: #00a7cf;
    font-size: 12px; }

.nav-inverse .navbar-main {
  background: #00a7cf;
  border-bottom: none; }
  .nav-inverse .navbar-main .logo {
    background: url("../img/logo-i.png") no-repeat center 3px; }

.nav-inverse .navbar-nav > li > a {
  color: #fff; }

.nav-inverse .navbar-nav > li.active > a,
.nav-inverse .navbar-nav > li.active > a:hover {
  color: #fff;
  background: #00bce9; }

.nav-inverse .navbar-nav > li > a:hover {
  color: #fff;
  background: #0092b5; }

.nav-inverse #query {
  border-color: #fff; }

.nav-inverse #btnSearch {
  color: #fff;
  border-color: #fff; }

.nav-inverse .navbar-link {
  color: #fff; }
  .nav-inverse .navbar-link:hover {
    color: #eee; }

.nav-inverse .navbar-text {
  color: #eee; }

.carousel-indicators li {
  border: none;
  background-color: #fff;
  opacity: .3; }
  .carousel-indicators li.active {
    opacity: 1; }

#userMenuPop {
  display: none; }

.webui-popover .dropdown-menu {
  display: block;
  position: relative;
  top: 0;
  border: none;
  box-shadow: none;
  float: none; }

.carousel .icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px; }

.carousel .icon-arrow-left {
  right: 50%;
  margin-right: -25px;
  background: url("../img/arrow-l.png") no-repeat; }

.carousel .icon-arrow-right {
  left: 50%;
  margin-left: -25px;
  background: url("../img/arrow-r.png") no-repeat; }

.thumb-md {
  margin-bottom: 15px; }
  .thumb-md .thumb-image {
    height: 160px;
    overflow: hidden;
    position: relative; }
    .thumb-md .thumb-image img {
      width: 100%; }
    .thumb-md .thumb-image .thumb-title {
      position: absolute;
      left: 10px;
      bottom: 15px;
      font-size: 26px;
      color: #fff;
      text-shadow: #333333 1px 1px 1px; }
  .thumb-md .thumb-info {
    height: 40px;
    color: #666; }
    .thumb-md .thumb-info p {
      margin: 10px 0 0 0; }
    .thumb-md .thumb-info .place {
      font-weight: bold;
      color: #000; }
  .thumb-md .thumb-foot {
    color: #999;
    height: 30px;
    line-height: 30px; }
    .thumb-md .thumb-foot .price {
      float: right;
      color: #ff980a;
      font-weight: bold;
      font-size: 20px; }
    .thumb-md .thumb-foot .people {
      color: #00a7cf; }

.thumb-square .thumb-image {
  overflow: hidden;
  position: relative;
  width: 100%; }
  .thumb-square .thumb-image img {
    width: 100%; }
  .thumb-square .thumb-image .thumb-title {
    position: absolute;
    left: 10px;
    bottom: 15px;
    font-size: 26px;
    color: #fff;
    text-shadow: #333333 1px 1px 1px; }

.thumb-square .thumb-info {
  height: 50px; }
  .thumb-square .thumb-info p {
    margin: 10px 0; }

.hover-zoom-in img {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

.hover-zoom-in:hover img {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transform-origin: center;
  transform-origin: center; }

.hover-silver:hover {
  background: #f5f5f5; }

.hover-highlight:hover .thumb-info {
  color: #ff980a; }
  .hover-highlight:hover .thumb-info .place {
    color: #ff980a; }

.section-title h3 {
  color: #00a7cf;
  margin-bottom: 30px; }

.section-title .more {
  float: right;
  font-size: 18px;
  color: #666; }

footer {
  height: 282px;
  color: #ccc;
  background: #136a8a;
  /* Chrome 10+, Saf5.1+ */
  /* FF3.6+ */
  /* IE10 */
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #136a8a 10%, #267871 90%);
  /* W3C */ }
  footer a {
    color: #ccc; }
  footer a:hover {
    color: #ff980a;
    text-decoration: none; }
  footer .foot-mobile {
    display: none; }
  footer .foot-main {
    padding-top: 40px; }
  footer .divider {
    height: 1px;
    background: #43a8c7;
    opacity: .5;
    margin-bottom: 15px; }
  footer .foot-list dl {
    float: left;
    margin-right: 80px; }
    footer .foot-list dl dt {
      color: #fff; }
    footer .foot-list dl dd, footer .foot-list dl dt {
      line-height: 25px; }
  footer .foot-copyright {
    color: #aaa;
    font-size: 12px; }
  footer .foot-logo {
    width: 150px;
    height: 80px; }
    footer .foot-logo img {
      width: 100%; }
  footer .qrcode {
    width: 85px; }

.thumb-users {
  margin: 0;
  padding: 0; }
  .thumb-users li {
    font-size: 12px;
    list-style: none;
    float: left;
    height: 60px;
    width: 60px;
    margin: 10px;
    text-align: center; }
    .thumb-users li .avatar img {
      width: 50px;
      height: 50px;
      border-radius: 50%; }

.social-actions {
  font-size: 14px; }
  .social-actions a {
    color: #ff980a; }
    .social-actions a:hover {
      color: #00a7cf;
      text-decoration: none; }
  .social-actions .favs,
  .social-actions .likes,
  .social-actions .hits {
    color: #aaa; }

.social-infos {
  color: #ccc; }

#activity {
  background: #f5f5f5; }

#activity-banner {
  height: 300px;
  overflow: hidden;
  position: relative; }
  #activity-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2; }
  #activity-banner h2 {
    color: #fff;
    text-align: center;
    margin-top: 200px; }
  #activity-banner p {
    color: #eee;
    text-align: center; }
  #activity-banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#99000000',GradientType=0); }

#activityNav {
  z-index: 999; }

.navbar-activity {
  background: #00a7cf;
  margin: 0;
  border: none;
  border-radius: 0; }
  .navbar-activity #btnJoin {
    margin-right: 10px; }
  .navbar-activity .navbar-text {
    color: #fff; }
  .navbar-activity .navbar-nav {
    margin: 0; }
  .navbar-activity .navbar-nav > li > a {
    color: #fff; }
    .navbar-activity .navbar-nav > li > a:hover {
      color: #fff;
      background: #00bce9; }
  .navbar-activity .navbar-nav > .active > a,
  .navbar-activity .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #0092b5; }

.activity-main {
  background: #fff; }
  .activity-main aside {
    min-height: 1000px; }
    .activity-main aside #memberInfo {
      margin: 20px auto;
      width: 100px;
      height: 100px; }
      .activity-main aside #memberInfo p.progressbar-text {
        font-size: 22px;
        color: #ddd; }
    .activity-main aside .member-avatar {
      float: left;
      width: 85px;
      height: 80px;
      text-align: center;
      font-size: 12px;
      color: #ff980a; }
    .activity-main aside .side-title {
      text-align: center;
      margin-bottom: 20px; }
    .activity-main aside .side-photos .row {
      margin: 0; }
    .activity-main aside .side-photos .col-md-2, .activity-main aside .side-photos .col-md-3 {
      padding: 0 2px;
      overflow: hidden;
      margin-bottom: 4px; }
    .activity-main aside a.carousel-control {
      background: none; }
  .activity-main article {
    min-height: 1000px;
    background: white;
    border-right: 1px solid #eee; }
    .activity-main article p {
      color: #999; }
    .activity-main article #comments {
      min-height: 500px; }
    .activity-main article .sec-title {
      color: #ff980a;
      line-height: 40px;
      margin-bottom: 30px;
      border-bottom: 2px solid #f2f2f2; }
    .activity-main article .xh-joinform {
      color: #666; }
      .activity-main article .xh-joinform .lbl {
        float: left;
        margin-left: -90px;
        width: 70px;
        text-align: right; }
      .activity-main article .xh-joinform .ui-input input, .activity-main article .xh-joinform .ui-textarea textarea {
        height: 40px;
        padding: 0 5px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        margin: 0;
        line-height: 40px;
        font-size: 14px;
        color: #666;
        outline: 0;
        vertical-align: top; }
      .activity-main article .xh-joinform .ui-textarea textarea {
        height: auto; }
      .activity-main article .xh-joinform .form-item {
        padding-left: 90px;
        margin-bottom: 20px;
        line-height: 32px;
        font-size: 16px; }
        .activity-main article .xh-joinform .form-item:after {
          content: '';
          clear: both;
          display: block;
          overflow: hidden; }
      .activity-main article .xh-joinform .inp-tel {
        width: 300px;
        margin-right: 15px; }
      .activity-main article .xh-joinform .ui-input {
        float: left;
        display: inline;
        overflow: hidden; }
      .activity-main article .xh-joinform .num {
        float: left;
        width: 180px; }
      .activity-main article .xh-joinform .radio {
        float: left;
        margin-right: 30px; }
      .activity-main article .xh-joinform .tips {
        font-size: 12px;
        white-space: nowrap; }
      .activity-main article .xh-joinform .icon-radio {
        float: left;
        margin: 7px 7px 0 0;
        cursor: pointer;
        width: 18px;
        height: 18px;
        overflow: hidden;
        position: relative; }
      .activity-main article .xh-joinform .inp-tel input {
        width: 290px; }
      .activity-main article .xh-joinform .inp-num, .activity-main article .xh-joinform .inp-num input {
        width: 102px; }
      .activity-main article .xh-joinform .inp-list input, .activity-main article .xh-joinform .ui-textarea textarea {
        width: 472px; }
      .activity-main article .xh-joinform .inp-num-suffix {
        float: right;
        margin-right: 10px; }

#orders {
  background: #fff;
  min-height: 500px; }
  #orders .order-progress .col-md-1, #orders .order-progress .col-md-2, #orders .order-progress .col-md-3 {
    text-align: center; }
  #orders .order-progress .bar {
    height: 15px;
    background: #ddd;
    margin-top: 10px; }
    #orders .order-progress .bar.active {
      background: #ff980a; }
  #orders .order-progress .step .node {
    margin: 0 auto;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    background: #bbb; }
  #orders .order-progress .step.active .node {
    background: #00a7cf; }

.activity-banner img {
  width: 100%; }

.old-activities {
  margin-bottom: 20px; }

/*---------------------------------- guide-list -------------------------------------------*/
.guide-list .guide-list-title {
  color: #ff980a;
  text-align: center;
  margin-bottom: 25px;
  display: table;
  white-space: nowrap;
  padding: 0 15px;
  width: 100%; }
  .guide-list .guide-list-title a {
    color: #ff980a; }
    .guide-list .guide-list-title a:hover {
      color: #00a7cf;
      text-decoration: none; }
  .guide-list .guide-list-title:before, .guide-list .guide-list-title:after {
    border-top: 2px solid #00a7cf;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%; }
  .guide-list .guide-list-title:before {
    right: 1.5%; }
  .guide-list .guide-list-title:after {
    left: 1.5%; }

.guide-list .best-guides {
  margin-bottom: 15px; }

.guide-list .thumb-md .thumb-title {
  position: absolute;
  left: 10px;
  bottom: 15px;
  font-size: 26px;
  color: #fff;
  text-shadow: #333333 1px 1px 1px; }

.guide-list .thumb-md .thumb-description {
  color: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  font-size: 14px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.3);
  transition: top 0.5s ease 0s;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .guide-list .thumb-md .thumb-description h3 {
    font-size: 26px;
    color: #fff;
    text-shadow: #333333 1px 1px 1px; }

.guide-list .thumb-md:hover .middle {
  display: table-cell;
  vertical-align: middle;
  padding: 20px; }

.guide-list .thumb-md:hover .thumb-title {
  display: none; }

.guide-list .thumb-md:hover .thumb-description {
  top: 0; }

/*----------------------------------------- guide ----------------------------------------*/
.guide-banner {
  max-height: 500px;
  overflow: hidden;
  position: relative; }
  .guide-banner .guide-brief {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 80%;
    color: #fff; }
    .guide-banner .guide-brief h1 {
      text-align: center;
      font-size: 58px;
      text-shadow: #333 1px 1px 1px;
      letter-spacing: 10px;
      margin-bottom: 20px;
      font-family: "宋体"; }
    .guide-banner .guide-brief h4 {
      line-height: 24px;
      font-size: 16px;
      font-weight: normal;
      padding: 10px;
      background: rgba(0, 0, 0, 0.3); }

.guide-main article h2 {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 50px;
  border-bottom: 3px solid #00a7cf; }
  .guide-main article h2 small {
    line-height: 50px; }

.guide-main article p {
  color: #666;
  line-height: 28px;
  margin-bottom: 30px; }
  .guide-main article p img {
    max-width: 100%; }

.guide-main .media-object {
  width: 64px;
  height: 64px; }

.guide-main .media-body {
  font-size: 12px;
  line-height: 18px; }
  .guide-main .media-body h5 {
    color: #ff980a; }

.guide-main .username {
  font-size: 12px;
  color: #00a7cf; }

.guide-main .qrcode img {
  width: 220px; }

.travel-notes {
  margin: 10px 0 20px 0;
  position: relative;
  padding-right: 20px; }
  .travel-notes h5 {
    color: #666;
    margin: 15px 0; }
  .travel-notes img {
    width: 100%; }
  .travel-notes .summary {
    color: #999;
    font-size: 12px;
    margin: 0; }
    .travel-notes .summary span {
      margin-right: 12px; }
  .travel-notes .travel-notes-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: url(../img/bg-border.png) repeat-x; }
  .travel-notes .avatar {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 40px;
    height: 40px; }
    .travel-notes .avatar img {
      border-radius: 50%; }

.note-list-title {
  text-align: center;
  display: table;
  white-space: nowrap;
  width: 100%;
  padding: 0 15px;
  position: relative; }
  .note-list-title:before, .note-list-title:after {
    border-top: 1px solid #00a7cf;
    content: '';
    display: table-cell;
    position: absolute;
    top: 50%;
    width: 42%; }
  .note-list-title:before {
    right: 0; }
  .note-list-title:after {
    left: 0; }

.note-list .note-filter {
  line-height: 50px;
  height: 50px; }
  .note-list .note-filter .btn {
    margin-top: 7px; }
  .note-list .note-filter .link-filter {
    display: inline-block;
    width: 120px;
    padding: 0 10px;
    font-weight: bold;
    color: #000; }
    .note-list .note-filter .link-filter:hover {
      text-decoration: none;
      color: #ff980a; }

.subject-container .item {
  margin: 10px 5px 0 5px;
  padding-top: 1px;
  float: left;
  transition: all 0.5s ease;
  opacity: 0; }
  .subject-container .item.active {
    opacity: 1; }

.subject-container .subject img {
  width: 100%; }

.subject-container .item-footer {
  height: 38px;
  line-height: 38px;
  color: #aaa; }
  .subject-container .item-footer a {
    color: #aaa; }
  .subject-container .item-footer a:hover {
    color: #ee0000; }

.subject-container .item-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 15px; }

.subject-container .subject {
  background: #f6f6f6;
  padding: 10px; }
  .subject-container .subject h3 {
    margin-top: 5px;
    font-size: 14px; }
  .subject-container .subject:hover {
    box-shadow: 0 2px 5px #aaa; }
    .subject-container .subject:hover a {
      color: #ff980a; }

.subject-container .subject-pic {
  text-align: center;
  height: 180px;
  overflow: hidden; }

.subject-container .subject-title {
  height: 50px; }
  .subject-container .subject-title a {
    color: #333; }
    .subject-container .subject-title a:hover {
      color: #ff980a;
      text-decoration: none; }

@media (min-width: 1200px) {
  .subject-container .item {
    width: 275px; } }

@media (max-width: 1200px) {
  .subject-container .item {
    width: 225px; } }

@media (max-width: 762px) {
  .subject-container .item {
    width: 100%; } }

/*-----------------------------notes ---------------------------------*/
.note-banner {
  height: 400px;
  background-size: auto 100%;
  position: relative; }
  .note-banner .intro {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 100px;
    height: 200px; }
    .note-banner .intro h3 {
      padding: 50px 50px 10px 50px; }
    .note-banner .intro p {
      padding: 10px 50px; }
    .note-banner .intro .avatar {
      position: absolute;
      width: 48px;
      height: 48px;
      right: 35px;
      bottom: 20px; }
      .note-banner .intro .avatar img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }

.note-days {
  height: 600px;
  width: 50px;
  float: left;
  top: 80px;
  padding-top: 35px; }
  .note-days .note-day {
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #999;
    background: white;
    border-radius: 25px;
    margin: 0 0 0 12px; }
    .note-days .note-day.active {
      border-radius: 25px;
      background: #e00;
      color: #fff; }
  .note-days .line {
    height: 25px;
    width: 3px;
    margin: 2px 0 2px 22px;
    background: #ccc; }

.note-main {
  margin-top: 0;
  min-height: 600px;
  background: #eee; }

.note-content {
  background: #fff;
  min-height: 600px;
  border-left: 3px solid #ddd;
  margin-left: 50px;
  padding: 0 25px; }

.note-sub {
  padding: 20px 20px 20px 0; }

.note-sub img {
  width: 100%;
  margin-bottom: 10px; }

.note-content img {
  width: 100%; }

.home-activity-item {
  position: relative;
  background: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 30px; }
  .home-activity-item .calendar {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999; }
  .home-activity-item .tag {
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -40px;
    border-radius: 50%;
    text-align: center;
    width: 80px;
    height: 80px;
    background: #ff980a;
    color: #fff;
    line-height: 80px;
    font-size: 18px;
    z-index: 999;
    opacity: 0.8;
    filter: "alpha(opacity=80)"; }
  .home-activity-item .tag-jh {
    background: #00a7cf; }
  .home-activity-item .thumb-cover {
    height: 300px;
    overflow: hidden;
    margin-bottom: 50px; }
    .home-activity-item .thumb-cover img {
      width: 100%;
      border-radius: 5px; }
  .home-activity-item .hover-zoom-in:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .home-activity-item .thumb-info {
    height: 60px; }
  .home-activity-item h3 {
    text-align: center;
    font-size: 18px;
    overflow: hidden; }
  .home-activity-item p {
    font-size: 12px;
    color: #999;
    text-align: center; }

@media (max-width: 1200px) {
  .home-activity-item .thumb-cover {
    height: 200px;
    overflow: hidden;
    margin-bottom: 50px; } }

.home-activity-small {
  margin-bottom: 10px; }
  .home-activity-small .tag {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    bottom: 60px;
    font-size: 14px;
    line-height: 50px; }
  .home-activity-small .thumb-cover {
    height: 150px;
    margin-bottom: 30px; }
    .home-activity-small .thumb-cover img {
      border-radius: 0; }
  .home-activity-small h3 {
    font-size: 16px;
    margin-bottom: 5px; }
  .home-activity-small .thumb-info {
    height: 50px; }
  .home-activity-small .hover-zoom-in:hover {
    border-radius: 0; }

.home-thumb-guide {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden; }
  .home-thumb-guide .thumb-image {
    background: #333;
    height: 240px;
    overflow: hidden;
    position: relative; }
    .home-thumb-guide .thumb-image .thumb-title {
      position: absolute;
      left: 10px;
      bottom: 10px;
      font-size: 26px;
      color: #fff;
      text-shadow: #333333 1px 1px 1px; }
    .home-thumb-guide .thumb-image .social-infos {
      position: absolute;
      bottom: 20px;
      color: #fff;
      right: 10px;
      font-size: 12px;
      visibility: hidden; }
    .home-thumb-guide .thumb-image .thumb-mask {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      background: #000;
      transition: opacity 0.5s ease 0s;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      opacity: 0;
      filter: "alpha(opacity=0)"; }
  .home-thumb-guide:hover {
    background: #f2f2f2; }
    .home-thumb-guide:hover .social-infos {
      visibility: visible; }
    .home-thumb-guide:hover .thumb-mask {
      opacity: 0.5;
      filter: "alpha(opacity=50)"; }
  .home-thumb-guide .thumb-info {
    height: 35px;
    font-size: 14px;
    text-align: center;
    position: relative; }
    .home-thumb-guide .thumb-info p {
      margin: 10px 0; }

.home-product {
  height: 500px;
  background: #fff;
  margin-bottom: 30px; }

.home-side {
  height: 500px;
  background-size: 100% auto;
  background-repeat: no-repeat; }

.home-travel-notes .thumb-cover {
  height: 240px;
  overflow: hidden; }

.home-travel-notes h5 {
  height: 35px;
  line-height: 35px;
  margin: 0;
  overflow: hidden; }

.home-advert .advert-item {
  margin-bottom: 10px; }

.home-advert .advert-image {
  height: 200px;
  overflow: hidden;
  border-radius: 15px; }
  .home-advert .advert-image img {
    width: 100%; }

.home-advert .advert-title {
  text-align: center;
  height: 25px;
  line-height: 25px;
  margin: 0; }

.home-users {
  border-right: 1px solid #eee;
  min-height: 700px; }
  .home-users h3 {
    font-size: 20px;
    margin: 0 0 30px 0; }
  .home-users .media {
    margin-bottom: 20px; }
    .home-users .media img {
      width: 40px;
      height: 40px;
      border-radius: 40px; }
    .home-users .media .media-heading {
      line-height: 40px;
      font-weight: normal;
      font-size: 14px;
      padding-left: 10px; }

/*--------------------------- forum -------------------------------*/
.forum {
  background: #f2f2f2; }
  .forum .breadcrumb {
    background: white; }
  .forum .stat-head {
    font-size: 12px;
    margin-bottom: 5px; }
  .forum .panel .panel-heading {
    color: #0092b5; }
  .forum .panel .panel-body {
    padding-top: 0;
    padding-bottom: 0; }
  .forum .panel .table {
    margin-bottom: 0; }
    .forum .panel .table tr:first-child td {
      border-top: none; }
    .forum .panel .table a {
      color: #000; }
  .forum .panel .text-muted {
    color: #aaa; }
  .forum .panel .sub-title h2 {
    font-size: 16px; }
  .forum .panel .sub-title .text-warning {
    color: #ff980a; }
  .forum .panel .sub-thumb {
    width: 80px;
    padding-left: 0; }
    .forum .panel .sub-thumb img {
      width: 64px;
      height: 64px; }
  .forum .panel .sub-counts {
    width: 100px;
    line-height: 64px; }
  .forum .panel .sub-topic {
    width: 400px;
    padding-top: 20px; }
    .forum .panel .sub-topic p {
      margin-bottom: 2px; }
    .forum .panel .sub-topic .sub-topic-foot {
      color: #0092b5;
      font-size: 12px; }

.topic-stat {
  margin-bottom: 10px; }
  .topic-stat .pagination {
    margin: 0; }

.topic-list .topic-list-info {
  min-height: 50px;
  background: white;
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 20px; }
  .topic-list .topic-list-info h4 {
    color: #00a7cf; }
    .topic-list .topic-list-info h4 img {
      width: 36px;
      height: 36px; }
  .topic-list .topic-list-info .content {
    color: #888;
    font-size: 12px; }
  .topic-list .topic-list-info .text-danger {
    color: #e00; }
  .topic-list .topic-list-info .forum-master {
    font-size: 12px; }
    .topic-list .topic-list-info .forum-master a {
      color: #ff980a; }

.topic-list .table-content {
  background: white;
  border: 1px solid #ddd;
  color: #31708f; }
  .topic-list .table-content thead {
    background: #f9f9f9; }
  .topic-list .table-content .text-muted {
    color: #999; }
  .topic-list .table-content .title {
    line-height: 30px; }
  .topic-list .table-content .glyphicon {
    color: #ff980a; }
  .topic-list .table-content .broadcast .title {
    font-weight: bold;
    color: green; }
  .topic-list .table-content .broadcast a {
    color: green; }
  .topic-list .table-content .top .title {
    font-weight: bold;
    color: #e00; }
  .topic-list .table-content .top a {
    color: #e00; }
  .topic-list .table-content .topic .title {
    color: #333; }
  .topic-list .table-content .topic a {
    color: #333; }
  .topic-list .table-content .group {
    background: #f9f9f9; }
  .topic-list .table-content .count-info {
    font-size: 12px; }
    .topic-list .table-content .count-info .text-info {
      color: #00a7cf; }
  .topic-list .table-content .author-info {
    font-size: 12px;
    color: black; }

.topic-list .panel-fast-reply .panel-body {
  padding: 15px; }
  .topic-list .panel-fast-reply .panel-body textarea {
    margin-bottom: 10px; }

.topic table {
  background: white;
  margin-bottom: 0; }

.topic .table-topic-title td {
  padding: 15px; }

.topic .table-topic-title h4, .topic .table-topic-title p {
  margin: 0; }

.topic .table-topic-title p {
  color: #999;
  text-align: left;
  padding-left: 10px; }

.topic .topic-info {
  font-size: 12px; }
  .topic .topic-info .avatar {
    text-align: center; }
    .topic .topic-info .avatar img {
      width: 80%; }
  .topic .topic-info .username {
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #ff980a; }

.topic .table-user-stat {
  margin-bottom: 10px; }
  .topic .table-user-stat td {
    text-align: center; }
    .topic .table-user-stat td .text-info {
      color: #0092b5; }
  .topic .table-user-stat > tbody > tr > td {
    border-top: none; }

.topic .user-level {
  padding-left: 20px;
  font-weight: bold; }
  .topic .user-level .text-info {
    color: #00a7cf; }

.topic .topic-head {
  margin-top: -5px;
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-bottom: 1px dotted #ddd; }

.topic .topic-body {
  margin: 20px 15px;
  min-height: 200px; }

.topic .topic-foot {
  height: 30px;
  margin-left: 10px;
  line-height: 30px;
  font-size: 12px;
  border-top: 1px dotted #ddd; }

/*---------------------------------   login and register pages ------------------------------*/
#login {
  background: url(../img/login-bg.jpg); }
  #login .container-login {
    margin: 150px auto; }

#register {
  background: url(../img/login-bg.jpg); }
  #register .container-register {
    margin: 150px auto; }

/*------------------------------- comments ---------------------------*/
.comments .comment-head {
  line-height: 50px;
  border-bottom: 1px solid #ddd; }

.comments .media {
  border-bottom: 1px solid #eee; }

.comments .media-body p {
  color: #aaa;
  line-height: 40px; }

/*----------------------------- share ----------------------------*/
.share-bar {
  height: 50px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
  .share-bar .share-icon {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    float: right;
    border-left: 1px solid #eee;
    background-image: url("../img/icons.png");
    background-repeat: no-repeat; }
  .share-bar .share-caption {
    float: right;
    height: 50px;
    line-height: 50px; }
  .share-bar .share-weixin {
    background-position: 15px -195px; }
  .share-bar .share-weibo {
    background-position: -64px -195px; }
  .share-bar:after {
    content: "";
    clear: both; }

#home li.menu-home > a,
#guide li.menu-guide > a,
#activity li.menu-activity > a,
#note li.menu-note > a {
  color: #fff;
  background: #00a7cf; }

.panel-login {
  border: none;
  min-height: 400px; }
  .panel-login .panel-heading {
    height: 60px;
    line-height: 60px;
    padding: 0;
    text-align: center;
    color: white;
    background: #ff980a;
    font-size: 18px;
    border: none; }
  .panel-login .login-account {
    border-right: 1px solid #ddd; }

/*----------------------------- space ----------------------------*/
label {
  color: #999; }

#space {
  background: #DAD299;
  /* Chrome 10+, Saf5.1+ */
  /* FF3.6+ */
  /* IE10 */
  /* Opera 11.10+ */
  background: linear-gradient(0deg, #DAD299 10%, #B0DAB9 90%);
  /* W3C */ }

.space-banner {
  max-height: 300px;
  overflow: hidden;
  position: relative; }
  .space-banner .space-image {
    width: 100%; }
  .space-banner .space-sign {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white; }
    .space-banner .space-sign .space-sign-content {
      background: rgba(0, 0, 0, 0.4);
      padding: 40px 50px;
      text-align: center; }
    .space-banner .space-sign .space-sign-username {
      font-size: 18px; }

.space-main {
  background: #f2f2f2; }
  .space-main .space-menubar {
    background: #fff;
    border-top: 3px solid #ff980a;
    border-bottom: 1px solid #ccc;
    padding: 0;
    font-size: 16px;
    font-weight: bold; }
    .space-main .space-menubar a {
      color: #555;
      padding-left: 60px;
      padding-right: 60px;
      border-radius: 0; }
    .space-main .space-menubar li.active a {
      background: #fff;
      color: #ff980a; }
  .space-main aside {
    min-height: 1000px; }
    .space-main aside .avatar {
      display: block;
      margin: 30px auto 10px auto;
      width: 128px;
      height: 128px;
      border-radius: 50%; }
    .space-main aside .table-social-stat {
      text-align: center;
      background: #fff; }
  .space-main article {
    min-height: 1000px;
    background: white;
    border-left: 1px solid #ccc; }
    .space-main article .space-head {
      line-height: 30px;
      border-bottom: 1px solid #ccc; }
    .space-main article .thumb-note {
      height: 100px;
      overflow: hidden; }
    .space-main article .hot-nav {
      border-right: 1px solid #ddd; }
      .space-main article .hot-nav.last {
        border-right: none; }
    .space-main article .hot-nav-icon {
      font-size: 90px;
      color: #ccc; }
    .space-main article .divider {
      height: 1px;
      background: #eee;
      margin: 10px 0; }
    .space-main article .well-space {
      padding: 100px 50px;
      font-size: 18px;
      background: #f5f5f5; }
  .space-main .settings-side {
    padding: 0;
    background: #fff; }
    .space-main .settings-side .list-group-item.active, .space-main .settings-side .list-group-item.active:focus, .space-main .settings-side .list-group-item.active:hover {
      background-color: #ff980a;
      border-color: #ff980a; }
    .space-main .settings-side .list-group-item {
      padding-left: 30px; }
    .space-main .settings-side .list-group-item:first-child {
      border-radius: 0; }
    .space-main .settings-side .list-group-item:last-child {
      border-radius: 0; }
  .space-main .settings-title {
    line-height: 50px;
    border-bottom: 1px solid #ddd; }
  .space-main .settings-file {
    width: 300px;
    margin: 0 auto; }
  .space-main .notes-title {
    margin-top: 0; }
  .space-main .notes-description {
    height: 50px; }

@media (max-width: 990px) {
  .home-side {
    display: none; }
  .home-product {
    height: auto; }
  .thumb-md .thumb-image {
    height: 180px; }
  .navbar-search {
    display: none; }
  footer {
    height: auto;
    font-size: 18px; }
    footer .foot-main, footer .foot-copyright {
      display: none; }
    footer .foot-mobile {
      display: block; }
    footer .copyright {
      line-height: 30px; } }

@media (max-width: 768px) {
  .thumb-md .thumb-image {
    height: 180px; }
  .guide-banner .guide-brief {
    bottom: 10px; }
    .guide-banner .guide-brief h1 {
      font-size: 26px; }
    .guide-banner .guide-brief h4 {
      font-size: 12px; }
  .note-days {
    display: none; }
  .note-content {
    margin-left: 0; }
  .sub-topic {
    display: none; } }

@media (min-width: 990px) {
  .thumb-md .thumb-image {
    height: 160px; }
  .thumb-lg .thumb-image {
    height: 200px; }
  .thumb-xlg .thumb-image {
    height: 240px; } }

@media (min-width: 992px) {
  .rdt_box img {
    width: 430px; } }

@media (min-width: 1200px) {
  .rdt_box img {
    width: 540px; } }

@media (max-width: 991px) {
  .rdt_box {
    z-index: 999;
    position: relative; } }

/*==============================  trip ================================*/
@media (max-width: 991px) {
  .trip-sub-content.affix, .trip-sub-content.affix-bottom {
    position: relative; } }

@media (min-width: 992px) {
  .trip-sub-content.affix, .trip-sub-content.affix-bottom {
    width: 210px; } }

@media (min-width: 1200px) {
  .trip-sub-content.affix, .trip-sub-content.affix-bottom {
    width: 260px; } }

@media (max-width: 991px) {
  .trip-nav {
    display: none; } }

@media (min-width: 992px) {
  .trip-sidebar.affix, .trip-sidebar.affix-bottom {
    width: 140px; } }

@media (min-width: 1200px) {
  .trip-sidebar.affix, .trip-sidebar.affix-bottom {
    width: 170px; } }

/*==============================  trip end ================================*/

/*# sourceMappingURL=main.css.map */