$main-color:#00a7cf;
$footbg:#005570;
$navbg : #fff;
$nav-link: #000;
$foot-link-color:#ccc;
$nav-linkhov: $main-color;
$main-color-dark:darken($main-color,5);
$main-color-light:lighten($main-color,5);
$nav-active:#fff;
$nav-activebg:$nav-linkhov;
$nav-activebg-dark: darken($nav-linkhov,5);
$nav-activebg-light: lighten($nav-linkhov,5);
$thumb-radius:0;
$orange:#ff980a;
$price-color:$orange;
$boy-color:#1493e3;
$girl-color:#fa7fb6;
$red-color:#e00;
$blue-color:#0098ce;
$green-color:#3ad531;


@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: "alpha(opacity="+$opacity-ie+")";
}

.isStuck{
    left:0;
    width:100%;
}

.margin0{
	margin:0;
}

.pad0{
	padding:0;
}

.bg-white{
	background:white;
}

a.link-orange,a.link-orange:visited{
	color:$orange;
}

a.link-red,a.link-red:visited{
	color:$red-color;
}

a.link-main,a.link-main:visited{
	color:$main-color;
}

a.link-main:hover{
	color:$orange;
}

.fit{
	width:100%;
}
.round{
	border-radius:50%;
}

img.full-width{
    width:100%;
}

.bg-gray{
	background:#ddd;
}

.bg-silver{
	background:#f2f2f2;
}

.text-main{
	color:$main-color;
}

.text-orange{
	color:$orange;
}

.text-red{
	color:$red-color;
}

.text-gray{
	color:#ddd;
}

.text-sm{
   font-size:12px;
}
.text-md{
	font-size:14px;
}
.text-lg{
	font-size:18px;
}

.thumb-image img,
.thumb-image{
	width:100%;
}

.thumb-lg{
   width:128px;
   height:128px;
}

.thumb-sm{
   width:64px;
   height:64px;
}

.thumb-round{
	border-radius:50%;
}


.thumb-xs{
	width:48px;
	height:48px;
}
.thumb-xxs{
	width:32px;
	height:32px;
}

