@import "common";

body{
    font-family: 'Avenir Next','Helvetica Neue',Avenir,Helvetica,'Lantinghei SC','Hiragino Sans GB','Microsoft YaHei',sans-serif !important;
}

.text-right{
    text-align: right;
}


.home{
    //background:#f2f2f2;
    //background: -webkit-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* Chrome 10+, Saf5.1+ */
    //background:    -moz-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* FF3.6+ */
    //background:     -ms-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* IE10 */
    //background:      -o-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* Opera 11.10+ */
    //background:         linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* W3C */
}

.bg-green{
    background:#B0DAB9;
    background: -webkit-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%); /* W3C */
}

.text-orange{
    color:$orange;
}


dl.list{
    margin:0 0 8px 0;
    padding: 0;
    display: table;
    *zoom:1;
    &:after{
        clear: both;
    }
    dt,dd{
        float:left;
        padding: 5px;
    }
    .list-content{
        display:table;
        *zoom:1;
        margin:0;
    }
    dt{
        width:80px;
        text-align:right;
        font-weight:bold;
    }
    a{
        color:#666;
        padding:0 8px;
        display:block;
        white-space:nowrap;
    }
    a:hover{
        color:#000;
        text-decoration:none;
        background:#f2f2f2;
    }
    dd.select a,dd.active a{
        background:#0088cc;
        color:#fff;
        border-radius:3px;
    }

}

dl.list-condense{
    margin:0 0 10px 0;
    padding:2px 0;
}


dl.list-mini dt,dl.list-mini dd{
    padding:0;
}

dl.list-condense dd,
dl.list-mini dd
{
    padding:0 2px;
}

dl.list-mini dd{
    margin-left:3px;
}

dl.list-mini dt{
    width:30px;
}

dl.list-condense a,dl.list-mini a{
    padding: 0 3px;
}



.adv{
    img{
        width:100%;
    }
}

.col-thumb{
    padding-left:8px;
    padding-right:8px;
    &:first-child{
        padding-left:15px;
    }
    &:last-child{
        padding-right:15px;
    }
}


.navbar-main{
    background: $navbg;
    //border-bottom: 2px solid $main-color;
    font-size:16px;
    margin-bottom: 0;
    .navbar-brand{
        padding:0 20px;
    }
    .logo{
        height:44px;
        width:140px;
        background: url("../img/logo.png") no-repeat center 3px;
    }
    .navbar-nav>li>a {
        color: $nav-link;
    }
    .navbar-nav>li.active>a,
    .navbar-nav>li.active>a:hover{
        color: $nav-active;
        background: $nav-activebg;
    }

    .navbar-nav>li>a:hover {
        color: $nav-linkhov;
    }

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #query{
        font-size:12px;
        //border-top-left-radius: 20px;
        //border-bottom-left-radius: 20px;
        border-color: $main-color;
        border-right:none;
    }
    #btnSearch{
        background: none;
        border-color: $main-color;
        border-left:none;
        //border-top-right-radius: 20px;
        //border-bottom-right-radius: 20px;
        color:$main-color;
        &:focus{
            outline: none;
        }
    }
    .navbar-link{
        font-size:14px;
        color:$main-color;
        &:hover{
            color:$main-color;
        }

    }
    .navbar-text{
        margin:15px 0 0 0;
    }

    #navbarSearch {
        margin-right:0;
    }

    .navbar-user{
        color:$main-color;
        font-size: 12px;
    }
}

.nav-inverse{
    .navbar-main{
        background: $main-color;
        border-bottom:none;
        .logo{
            background: url("../img/logo-i.png") no-repeat center 3px;
        }
    }
    .navbar-nav>li>a {
        color: #fff;
    }
    .navbar-nav>li.active>a,
    .navbar-nav>li.active>a:hover{
        color: #fff;
        background: $nav-activebg-light;
    }

    .navbar-nav>li>a:hover {
        color: #fff;
        background: $nav-activebg-dark;
    }
    #query{
        border-color: #fff;
    }
    #btnSearch{
        color:#fff;
        border-color: #fff;
    }
    .navbar-link{
        color:#fff;
        &:hover{
            color:#eee;
        }

    }
    .navbar-text{
        color:#eee;
    }
}

.carousel-indicators li{
    border:none;
    background-color: #fff;
    opacity:.3;
    &.active{
        opacity:1;
    }
}

.carousel{
    .icon{
        width:50px;
        height:50px;
        position:absolute;
        top:50%;
        margin-top: -25px;
    }
    .icon-arrow-left{
        right:50%;
        margin-right:-25px;
        background: url("../img/arrow-l.png") no-repeat;
    }
    .icon-arrow-right{
        left:50%;
        margin-left:-25px;
        background: url("../img/arrow-r.png") no-repeat;
    }

}
.thumb-md{
    margin-bottom: 15px;
    .thumb-image{
        height: 160px;
        overflow: hidden;
        position: relative;
        img{

            width:100%;
        }
        .thumb-title{
            position: absolute;
            left:10px;
            bottom:15px;
            font-size:26px;
            color:#fff;
            text-shadow: #333333 1px 1px 1px ;
        }
    }
    .thumb-info{
        height:40px;
        color:#666;
        p{
            margin:10px 0 0 0;
        }
        .place{
            font-weight: bold;
            color:#000;
        }
    }
    .thumb-foot{
        color:#999;
        height:30px;
        line-height: 30px;

        .price{
            float:right;
            color:$price-color;
            font-weight: bold;
            font-size: 20px;
        }
        .people{
            color:$nav-linkhov;
        }
    }
}




.thumb-square{
    .thumb-image{
        overflow: hidden;
        position: relative;
        width:100%;
        img{
            width:100%;
        }
        .thumb-title{
            position: absolute;
            left:10px;
            bottom:15px;
            font-size:26px;
            color:#fff;
            text-shadow: #333333 1px 1px 1px ;
        }
    }
    .thumb-info{
        height:50px;
        p{
            margin:10px 0;
        }
    }
}


.hover-zoom-in{
    .thumb-image{
        img{
            transition:transform .8s;
        }
        &:hover{
            img{
                transform: scale(1.1,1.1);
                transform-origin: center;
            }
        }
    }
}
.hover-silver{
    &:hover{
        background: #f5f5f5;
    }
}

.hover-highlight{
    &:hover{
        .thumb-info{
            color: $orange;
            .place{
                color:$orange;
            }
        }
    }
}

.section-title{
    h3{
        color:$main-color;
    }

    .more{
        float:right;
        font-size:18px;
        color:#666;
    }
}

.home-product{
    height:500px;
    background: #fff;
    margin-bottom: 30px;
}
.home-side{
    height:500px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#city{
    .home-side{
        background-image: url("../img/home-side1.jpg");
    }
}

#mainland{
    .home-side{
        background-image: url("../img/home-side2.jpg");
    }
}

#foreign{
    .home-side{
        background-image: url("../img/home-side3.jpg");
    }
}

.home-best{

}


.travel-notes{
    margin:20px 0 40px 0;
    position: relative;
    padding-right:20px;
    h5{
        color:#666;
        margin: 15px 0;
    }
    img{
        width:100%;
    }

    .summary{
        color:#999;
        font-size:12px;
        margin: 0;
        span{
            margin-right: 12px;
        }
    }

    .travel-notes-border{
        position: absolute;
        top:0;
        left:0;
        right:0;
        height: 8px;
        background: url(../img/bg-border.png) repeat-x;
    }
    .avatar{
        position: absolute;
        right:20px;
        bottom:0;
        width:40px;
        height:40px;

        img{
            border-radius: 50%;
        }
    }
}


.home-users{
    border-right:1px solid #eee;
    min-height: 700px;
    h3{
        font-size: 20px;
        margin: 0 0 30px 0;
    }
    .media{
        margin-bottom: 20px;
        img{
            width:40px;
            height: 40px;
            border-radius: 40px;
        }
        .media-heading{
            line-height: 40px;
            font-weight: normal;
            font-size: 16px;
            padding-left: 10px;
        }
    }
}

footer{
    height:282px;
    color:#ccc;
    background:#136a8a;
    background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #136a8a 10%, #267871 90%); /* W3C */

    a{
        color:$foot-link-color;
    }
    a:hover{
        color:$orange;
        text-decoration: none;
    }

    .foot-mobile{
        display:none;
    }
    .foot-main{
        padding-top:40px;
    }

    .divider{
        height:1px;
        background: #43a8c7;
        opacity: .5;
        margin-bottom:15px;
    }


    .foot-list{

        dl{
            float:left;
            margin-right:80px;
            dt{
                color:#fff;
            }
            dd,dt{
                line-height: 25px;
            }

        }

    }
    .foot-copyright{
        color:#aaa;
        font-size:12px;
    }

    .foot-logo{
        width:150px;
        height:80px;
        img{
            width:100%;
        }
    }

    .qrcode{
        width:85px;
    }

}

.thumb-users{
    margin:0;
    padding:0;
    li{
        font-size: 12px;
        list-style:none;
        float:left;
        height:60px;
        width:60px;
        margin:10px;
        text-align: center;
        .avatar{
            img{
                width:50px;
                height:50px;
                border-radius: 50%;
            }

        }
    }
}



@import("product")

@import("guide")

@import("notes")

@import("forum")

/*---------------------------------   login and register pages ------------------------------*/


#login{
    background:url(../img/login-bg.jpg);
    .container-login{
        margin:150px auto;
    }
}


#register{
    background:url(../img/login-bg.jpg);
    .container-register{
        margin:150px auto;
    }
}


/*------------------------------- comments ---------------------------*/


.comments{
    
    .comment-head{
        line-height: 50px;
        border-bottom: 1px solid #ddd;
    }
    .media{
        border-bottom:1px solid #eee;
    }

    .media-body p{
        color:#aaa;
        line-height:40px;
    }
}


/*----------------------------- share ----------------------------*/

.share-bar{
    height:50px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    .share-icon{
        height:50px;
        line-height: 50px;
        padding:0 30px;
        float:right;
        border-left:1px solid #eee;
        background-image:url('../img/icons.png');
        background-repeat:no-repeat;
    }
    .share-caption{
        float:right;
        height:50px;
        line-height: 50px;
    }

    .share-weixin{
        background-position:15px -195px;
    }

    .share-weibo{
        background-position:-64px -195px;
    }
    &:after{
        content:"";
        clear:both;
    }
}


#home  li.menu-home>a,
#guide  li.menu-guide>a,
#note  li.menu-note>a{
    color: $nav-active;
    background: $nav-activebg;   
}

.panel-login{
    border:none;
    min-height:400px;
    .panel-heading{
        height: 60px;
        line-height: 60px;
        padding:0;
        text-align: center;
        color:white;
        background: $orange;//#105a84;
        font-size:18px;
        border:none;
    }
    .login-account{
        border-right:1px solid #ddd;
    }
}


@import "space";








