
.travel-notes{
    margin:20px 0 40px 0;
    position: relative;
    padding-right:20px;
    h5{
        color:#666;
        margin: 15px 0;
    }
    img{
        width:100%;
    }

    .summary{
        color:#999;
        font-size:12px;
        margin: 0;
        span{
            margin-right: 12px;
        }
    }

    .travel-notes-border{
        position: absolute;
        top:0;
        left:0;
        right:0;
        height: 8px;
        background: url(../img/bg-border.png) repeat-x;
    }
    .avatar{
        position: absolute;
        right:20px;
        bottom:0;
        width:40px;
        height:40px;

        img{
            border-radius: 50%;
        }
    }
}

.note-list-title{
    text-align: center;
    display: table;
    white-space: nowrap;
    width:100%;
    padding:0 15px;
    position: relative;
    &:before, &:after {
        border-top: 1px solid $main-color;
        content: '';
        display: table-cell;
        position: absolute;
        top: 50%;
        width: 42%;
    }
    &:before { right: 0; }
    &:after { left: 0; }
}

.note-list{


    .note-filter{
        line-height: 50px;
        height:50px;
        .btn{
            margin-top:7px;
        }
        .link-filter{
            display: inline-block;
            width:120px;
            padding:0 10px;
            font-weight: bold;
            color:#000;
            &:hover{
                text-decoration: none;
                color:$orange;
            }
        }
    }

}


.subject-container{
    .item{
        margin:10px 5px 0 5px;
        padding-top:1px;
        float:left;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        opacity:0;
        &.active{
            opacity: 1;
        }
    }
    .subject img{
        width:100%;

    }
    .item-footer{
        height:38px;
        line-height: 38px;
        color:#aaa;
        a{
            color: #aaa;
        }
        a:hover{
            color:#ee0000;
        }
    }
    .item-avatar img{
        width:30px;
        height:30px;
        border-radius: 15px;
    }
    .subject{
        background:#f6f6f6;
        padding:10px;
        
        //border-radius: 5px;
        h3{
            margin-top:5px;
            font-size:14px;
        }
        &:hover{
            box-shadow: 0 2px 5px #aaa;
            a{
                color:$orange;
            }
        }
    }
    .subject-pic{
        text-align:center;
        height:180px;
        overflow:hidden;
    }
    .subject-title{
        height:50px;
        a{
            color:#333;
            &:hover{
                color:$orange;
                text-decoration: none;
            }
        }

    }
}


@media (min-width: 1200px) {
    .subject-container .item {
        width:275px;
    }
}



@media (max-width: 1200px) {
    .subject-container .item {
        width:225px;
    }
}

@media (max-width: 762px){
    .subject-container .item {
        width:100%;
    }
}


/*-----------------------------notes ---------------------------------*/


.note-banner{
    height:400px;
    background-size: auto 100%;
    position: relative;
    .intro{
        background: rgba(0,0,0,.2);
        color:white;
        margin-top:100px;
        height:200px;
        h3{
            padding:50px 50px 10px 50px;
        }
        p{
            padding:10px 50px;
        }
        .avatar{
            position: absolute;
            width:48px;
            height:48px;
            right:35px;
            bottom:20px;
            img{
                width:100%;
                height:100%;
                border-radius: 50%;
            }

        }
    }
}

.note-days{
    height:600px;
    width:50px;
    float:left;
    top:80px;
    padding-top:35px;
    .note-day{
        font-size:12px;
        width:25px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color:#999;
        background:white;
        border-radius: 25px;
        margin:0 0 0 12px;
        &.active{
            border-radius: 25px;
            background: #e00;
            color:#fff;
        }
    }
    .line{
        height:25px;
        width:3px;
        margin:2px 0 2px 22px;
        background: #ccc;
    }
}



.note-main{
    margin-top: 0;
    min-height: 600px;
    background: #eee;
}

.note-content {
    background: #fff;
    min-height: 600px;
    border-left:3px solid #ddd;
    margin-left:50px;
    padding:0 25px;
}

.note-sub{
    padding:20px  20px 20px 0;
}

.note-sub img{
    width:100%;
    margin-bottom: 10px;
}

.note-content img{
    width:100%;
}
